body{
    background-color: rgb(20, 0, 25);
}
h1{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.796);
    font-family: 'Manrope', sans-serif;
    width: 200px;
    text-align: center;
    border-radius: 100px;
}
#spaceDiv{
    align-items: center;
}
#spacePic{
    width: 1100px;
    border-radius: 100px;
}
